/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev6, .next6,.text {font-size: 11px}
    }
    
    /* Next & previous buttons */
    .prev6, .next6 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    margin-left: -45px;
    margin-right: 25px;
    color: #0C4160;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next6 {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev6:hover, .next6:hover {
    background-color: rgba(125, 161, 191, 0.678);
    }
    
    .dot6 {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: all 0.5s ease-in-out;
        }
        
        .active, .dot6:hover {
        background-color: #fff;
        
        }
        
        .dot6.active{
        border-radius: 15px;
        width: 40px;
        height: 20px;
        }
        
        .container6 p{
            color:#fff;
            text-shadow: #162F65 2px 2px;
          }